
@{
    ViewBag.Title = "SqlDetach";
}

<h4>真正实现SQL分离</h4>

<div>
    <p>摆脱频繁的数据库操作代码，使你的代码更清晰可读！ 很高兴与您分享迷人的SQLDetach架构</p>
    <p>该架构使用事件驱动的MVC架构，让你的结果数据更明朗可查</p>
</div>
<div class="content projectdesc">
    <p>框架简介：</p>
    <p style="margin-left:20px;color:blue;">DetachLayer</p>
    <p style="margin-left:20px;">主要包含SQL文本，及SQL中使用的where、group by、order by等子句的处理器</p>
    <p style="margin-left:20px;"></p>
    <p></p>
    <p></p>
</div>